@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@font-face {
    font-family: Krona One;
    src: url(https://fonts.gstatic.com/s/kronaone/v14/jAnEgHdjHcjgfIb1ZcUyOIWg7cU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
* {
    margin: 0;
    padding: 0;
}
body {
    
    /* background: url(/workspaces/kursach/my-app/src/components/img/Group19.png); */
    background-color: black;
    color: white;
}
.assembly {
    margin-top: 150px;
}
.assembly .nashi {
    font-family: 'Krona One', sans-serif;
    font-size: 46px;
    font-weight: bold;
    text-align: center;
}
.product-card {
    display: flex;
    align-items: center;
    max-width: 1200px; /* Ширина карточки товара */
    margin: 0 auto; /* Центрирование карточки на странице */
    margin-top: -50px;
}

.product-card img {
    max-width: 300px; /* Ширина картинки товара */
}
.product-info h2 {
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: bold;
}
.product-info {
    margin: 122px 129px/* Отступ между картинкой и текстом */
}
.product-info .color {
    color: #e1a200;
    font-weight: bold;
}
.product-info button {
    display: block;
    margin: 30px auto 0; /* Отступы кнопки "Купить" */
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #e1a200;
    border: #e1a200;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.product-info button:hover {
    background-color: rgb(248, 124, 79);
}
.product-info button:active {
    background-color: rgb(202, 82, 38);
    transform: translateY(2px);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.price {
    color: #e1a200;
    font-weight: bold;
    font-size: 46px;
    margin-top: 10px;
}