@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@font-face {
    font-family: Krona One;
    src: url(https://fonts.gstatic.com/s/kronaone/v14/jAnEgHdjHcjgfIb1ZcUyOIWg7cU.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
}
.guarantee {
    margin-top: 200px;
    
}
.guarantee .zagolovok {
    font-family: 'Krona One', sans-serif;
    font-size: 46px;
    font-weight: bold;
}
.guarantee-text {
    margin-left: 25%;
}